body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px;
    padding: 1px;
    background-color: #f4f4f4;
    background-image: url('https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: cover; /* Adjust this to your preference */

}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 40px;
    background-color: #ae9393;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    /* background-image: url('https://t4.ftcdn.net/jpg/01/32/16/91/360_F_132169192_hlO3x0SGk7irwXHJ2UUZU93I3PPHVte2.jpg');
    background-repeat: no-repeat;
    background-size: cover; Adjust this to your preference */

}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#weatherInfo {
    margin-top: 20px;
}
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('C:\Users\princ\Downloads\robert-lukeman-_RBcxo9AU-U-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

/* Rest of the styles... */

